
.affix-bottom {

}

.sidebar-container {

}

.sidebar-wrapper{

  height: 100%;
  background-color: rgba(32, 131, 192, 1.0);
}

.sidebar-brand{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 30px;
}

.sidebar-brand a:link {
  color: rgba(255,234,334,1.0)
}
.sidebar-brand a:visited {
  color: rgba(255,234,334,1.0)
}
.sidebar-brand a:hover {
  text-decoration: none;
  color: rgba(255,234,334,0.7)
}
.sidebar-brand a:active {
  color: rgba(255,234,334,1.0)
}

.newproject-input-fields{
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 40px;
}

.newproject-input-fields input{
  margin-bottom:  5px;
  width: 100%;
  color: black;
  background-color: rgba(255,255,255,1.0);
  border: none;
}

.scrollspy-links{
  margin-top: 30px;

  border-bottom-width: thin;
  border-bottom-color: rgba(255,255,255,0.7);
  border-bottom-style: solid;

  border-top-width: thin;
  border-top-color: rgba(255,255,255,0.7);
  border-top-style: solid;

  font-size: 20px;
}

.scrollspy-links a:link {
  color: rgba(255,234,334,1.0)
}
.scrollspy-links a:visited {
  color: rgba(255,234,334,1.0)
}
.scrollspy-links a:hover {
  text-decoration: none;
  color: rgba(255,234,334,0.7)
}
.scrollspy-links a:active {
  color: rgba(255,234,334,1.0)
}

.scrollspy-links ul{
  list-style: none;
  font-style: italic;
}


.scrollspy-links li{
  padding-top: 10px;
  padding-bottom: 10px;
}

.scrollspy-links li a{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.scrollspy li.active a {
  border-left-color: rgba(255,234,334,1.0);
  border-left-style: solid;
  border-left-width: thick;
}
